:root {
  --ink: #17231f;
  --muted: #718079;
  --green: #1d604d;
  --green-dark: #123e32;
  --mint: #e7f0eb;
  --paper: #f8faf8;
  --line: #dce6e0;
  --white: #fff;
}

:root[data-theme='dark'] {
  --ink: #e5efe8;
  --muted: #a5b7ac;
  --green: #61aa8b;
  --green-dark: #b9e5ce;
  --mint: #18382e;
  --paper: #0f1915;
  --line: #294238;
  --white: #16231d;
}
